@import "bootstrap.less";
@import "syntax.less";

header {
    background-color: @brand-primary;
    color: white;
    height: 40px;
    white-space: nowrap;

    a, a:link, a:visited {
        color: white;
    }

    a:hover {
        color: @gray-lighter;
    }

    .nav {
        text-align: right;
        line-height: 40px;

        a {
            padding: 10px;

            &:hover {
                background-color: darken(@brand-primary, 10%);
                border-radius: 3px;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }

    h1 {
        padding: 0px;
        margin: 0px;
        font-size: 22px;
        line-height: 40px;
    }

    @media (max-width: @screen-tablet) {
        h1 {
            font-size: 16px;
            font-weight: bold;
        }

        .nav a {
            padding: 5px;
        }
    }

    @media (max-width: 350px) {
        .row > div {
            display: block;
            width: 100%;
        }

        height: inherit;
    }
}
