---
title: 'Developer guide'
template: main.jade
---

h1 Developer guide

h3: a(href="/dev-guide/getting-started") Getting started
p A conceptual overview and instructions on how to add angular-gettext to your application. Start here.

h2 Next steps
.row
    .col-sm-4
        h3: a(href="/dev-guide/annotate/") Annotating strings
        p Different ways to annotate strings.

    .col-sm-4
        h3: a(href="/dev-guide/extract/") Extracting strings
        p Extracting strings into a gettext template.

    .col-sm-4
        h3: a(href="/dev-guide/translate/") Translating
        p Translating your strings into different languages.
