extends layouts/main

block body
    section.container
        != page.html

    footer
        .container
            hr
            p Angular-gettext was written by <a href="http://rocketeer.be">Ruben Vermeersch</a> and is licensed under the <a href="https://github.com/rubenv/angular-gettext/blob/master/LICENSE">MIT license</a>. You can get it on <a href="https://github.com/rubenv/angular-gettext">GitHub</a>.
